/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:wght@300;400;500;600&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.02em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }

  body {
    @apply antialiased text-gray-800;
    background-attachment: fixed;
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-out;
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-horizontal {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }

  @media (min-width: 768px) {
    .md\:text-single-line {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}